<h1>saludos, <%=@name%></h1>
<h1>Ahoras son las <%= formatted_time(@time) %></h1>

<h1>La pagina se ha mostrado <%=@times_displayed%></h1>


<p><%= link_to "google", "http://www.google.com" %></p>
<p><%= link_to "adios", greeter_goodbye_path %></p>